# Asignación de responsables por carpeta

/src/ @actividad-evaluacion-continua/Desarrollo
/notebooks/ @actividad-evaluacion-continua/Limpieza_datos
/tests/ @actividad-evaluacion-continua/Pruebas
/datasets/ @actividad-evaluacion-continua/Limpieza_datos
